<div class="logo">
  <div class="box">
    <div class="left-box">M</div>
    <div class="right-box">
      <div class="bottom-box">
        <div class="left-bottom-box">

        </div>
      </div>
    </div>
  </div>
   
</div> 
<nav class="navigation-top">

  <ul class="navigation-items">
    <li>
      <a class="active" routerLink="/">Home</a>
    </li>
    <li>
      <a routerLink="/">Features</a>
    </li>
    <li>
      <a routerLink="/albums">Photo album</a>
    </li>
    <li>
      <a routerLink="/">Category</a>
    </li>
    <li>
      <a routerLink="/">About</a>
    </li>
    <li>
      <a routerLink="/">Contact</a>
    </li>
  </ul>
</nav>
<div class="nav-actions">
  <div class="navbar">
    <div class="first"></div>
      <div class="second"></div>
        <div class="third"></div>
  </div>
  <div class="search">
    <div class="circle"></div>
    <div class="drska"></div>
  </div>
  <div class="basket-container">
    <div class="basket-over-line"></div>
    <div class="basket"></div>
    <div class="circle"></div>
  </div>
  
</div>

