@import "../../styles.scss";

.logo {
    position: absolute;
    display:inline-block;
    height: 32px;	
    width: 51px;	
    border: 2px solid #000000;
    margin-top:34px;
    margin-left: 31px;
    z-index: 4;
    color: black;
    .box {
        display:flex;
        flex-direction: row;
        .left-box {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 30.5px;
            line-height: 32px;
         
            height: 32px;
            border-right: 2px solid #000000;
            font-weight: 900;
            font-size: 23px;
        }
        .right-box{
            width: 20.5px;
            height: 32px;
            position: relative;
            .bottom-box {
                position: absolute; 
                width: 20.5px;
                height: 14.5px;
                bottom:0;
                border-top: 2px solid #000000;
                .left-bottom-box {
                    margin-left: 8.75px;
                    height: inherit;
                    border-left:2px solid #000000;
                }
            }
        }
    }
    
    
}
.navigation-top {
    display: flex;
    justify-content: center;
    padding-top: 41px;
    background: transparent;
    width: inherit;
    .active {
        color: #D54687;
    }
    .navigation-items {
        display: flex;
        flex-direction: row;
        z-index: 4;
        li a {
            height: 19px;
            width: 572px;
            font-size: 16px;
            line-height: 19px;
            text-decoration: none;
            margin: 0 15px;
            cursor: pointer;
            z-index:4;
        }
        li a:first-child {
            margin-left: 0;
        }
    }
}

.nav-actions{
    position: absolute;
    top: 42px;
    right: 30px;
    cursor: pointer;
    z-index: 4;
    // transform: translate(-50%,-50%);
    .navbar div{
        height: 2px;
        width: 16px;
        background-color: #000;
        position: absolute;
       
        // transition: all 0.5s ease;
    }
    .navbar .first{
        top: 2px;
        left: -16px;
    }

    .navbar .second{
        width: 11px;
        top: 9px;
        left: -11px;
    }

    .navbar .third{
        top: 16px;
        left: -16px;
    }
    .search {
        cursor: pointer;
        z-index: 4;
        .circle {
            position: absolute;
            border:2px solid black;
            border-radius: 50%;
            width: 15.25px;
            height: 15.25px;
            left: -64.75px;
        }
        .drska {
            position: absolute;
            width: 6.48px;
            height: 6.48px;
            border-top: 2px solid black;
            transform: rotate(50deg);
            top: 17.5px;
            left:-50.17px;
        }

       
    }
    .basket-container {
        position: absolute;
        top: 0;
        left: -110.25px;
        z-index: 4;
        cursor: pointer;
        .basket-over-line {
            height:3px;
            width: 20px;
            position:absolute;
            z-index: 99;
            background: $background;
        }
        .basket {
            position:relative;
            z-index: 99;
            width: 20px;
            height: 16px;
            border: 2px solid black;
            background: $background;
            margin-top:1px;
        }
        .circle {
            position: absolute;
            top: -5px;
            left: 5.17px;
            border: 2px solid black;
            border-radius: 50%;
            width:9.67px;
            height:9.67px;
            z-index: 0;
        }
    }
}

/* breakpoints for different screen sizes */
@media only screen and ( max-width: 1024px )  {
    .navigation-top {
        .navigation-items {
            display: none;
            li a {
                height: 19px;
                width: 572px;
                font-size: 16px;
                line-height: 19px;
                text-decoration: none;
                padding: 0 15px;
            }
            li a:first-child {
                margin-left: 0;
            }
        }
    }
}