<form>
  <span class="filter">Filter images</span>
  <input name="filter-images" type="text" placholder="Search..." [ngModel]="filteredItems" (ngModelChange)="onFilterChange($event)" />
</form>
<div class="test">{{filteredImages}}</div>