.album-data-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    .repeat-albums {
        margin-left: 10px;
        width:20%;
        margin-bottom: 30px;
        .item-container {
            width:100%;
            display: flex;
            flex-direction: column;
            img {
                width: 100%;
                height: 250px;
            }
            .item-title {
                margin-top: 10px;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 900;
            }
            .remove {
                color: red;
                cursor: pointer;
            }
        }
    }
}
.album-data-list {
    display:flex;
    flex-direction: column;
    width:100%;
    .item-container {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        // justify-content: center;
        padding-left: 50px;
        margin-bottom: 20px;
        img {
            width: 150px;
            height: 150px;
        }
        a {
            padding-left: 20px;
        }
        .remove {
            color: red;
            cursor: pointer;
            padding-left: 50px;
        }
    }
}