<div *ngIf="this.action.displayGrid" class="album-data-grid">
  <div class="repeat-albums" *ngFor="let item of allAlbums |      
    filter:this.action.filteredItems:'title'">
    <div class="item-container">
      <img src="https://cdn.cnn.com/cnnnext/dam/assets/141216183300-simpsons-25-anniversary-image-4-horizontal-large-gallery.jpg" alt="{{item.title}}">
        <a class="item-title" routerLink="/albums/album/{{item.id}}">{{item.title}}</a>
        <span>Created by {{item.username}}</span>
        <span class="remove" (click)="onRemove(delete )" #delete>Remove</span> 
    </div>
  </div>
  
</div>
<div *ngIf="this.action.displayList" class="album-data-list">

  <div class="repeat-albums" *ngFor="let item of allAlbums | filter:this.action.filteredItems:'title'">
    <div class="item-container">
      <img src="https://cdn.cnn.com/cnnnext/dam/assets/141216183300-simpsons-25-anniversary-image-4-horizontal-large-gallery.jpg" alt="{{item.title}}">
        <a class="item-title" routerLink="/albums/album/{{item.id}}">{{item.title}}</a>
        <span>Created by {{item.username}}</span>
        <span class="remove" (click)="onRemove(delete )" #delete>Remove</span> 
    </div>
  </div>
  
</div>