@import "../../styles.scss";

.actions-on-images {
    .filter {
        padding-right: 30px;
    }
    .grid, .list {
        margin: 20px 0;
        cursor: pointer;
    }
    input {
        padding-left:20px;
    }
}

.album-page {
    .navigation {
        background: $background;
        padding-bottom: 41px;
    }
}

@media only screen and ( max-width: 768px ) and ( min-width: 320px )  {
    .album-page {
        .album-data-grid .repeat-albums {
            width: 80%;
            padding-left: 0;
        }
        .album-data-list .repeat-albums {
            width: 80%;
            padding-left: 0;
            .item-container {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: center;
                width: 100%;
            }
        }
    }
}