<div class="album-page">
    <div class="navigation">
        <app-navigation-top> </app-navigation-top>
    </div>

    <!-- same code as on album page, could be made more reusable -->
    <!-- <div class="actions-on-images">
      <form>
        <span class="filter">Filter albums</span><input name="filter-images" type="text" [(ngModel)]="filteredAlbums"/>
      </form>
      <div class="grid" (click)="onDisplayGrid()">Display Grid</div>
      <div class="list" (click)="onDisplayList()">Display List</div>
    </div> -->
    <!-- end -->
    <app-album-actions></app-album-actions>


    <app-list-all-albums [allAlbums]="allAlbums"></app-list-all-albums>
      
</div>
