@import "../../styles.scss";

.frontpage-container {
    position: relative;
    // width:90%;
    .first-screen {
        width: 100%;
        height: 100vh;
        background: $background;
        position:relative;
        z-index: 0;
        .main-message {
            font-family: "Montserrat-ExtraBold";
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            top: 50%;
            margin-top: -31px;
            height: 62px;
            font-size: 100px;	
            font-weight: bold;	
            letter-spacing: -3.33px;	
            line-height: 62px;
            z-index: 2;
        }
        img {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
            z-index: 1;  
        }
    }
    .artist-section {
        margin-top: 150px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .make-margin-left {
            margin-left: 50px;
        }
        .make-margin-right {
            margin-right: 50px;
        }
        .artist-image {
            width: 555px;
            height: 555px;
        }
        .artist-text-container {
            display: flex;
            flex-direction: column;
            .title {
                margin-bottom: 42px;
                @include set-title();
            }
            .text {
                height: 187px;
                width: 540px;	
                @include set-text();
            }
            .social-icons {
                padding-left: 2px;
                margin-top: 62px;
                display:flex;
                align-items: center;
                height: 35px;
                img {
                    display:inline-block;
                    // width: 15px;
                    // height: 30px;
                }
                .facebook {
                    margin-right: 47px;
                }
                .pinterest {
                    margin-right: 46px;
                }
                .twitter {
                    margin-right: 47.12px;
                }
            }
        }
    }
    .three-text-columns {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 150px; //check this
        .column {
            width: 466px;
            margin-left: 147px;
            .title {
                margin-bottom: 42px;
                font-family: "Montserrat-ExtraBold";
                @include set-title();
                span {
                    font-family: "Montserrat-ExtraBold";
                    color: $secondary-color;
                }
            }
            .text {
                margin-top: 42px;
                @include set-text();
            }
            button {
                margin-top: 55px;
                text-transform: uppercase;
                padding: 17px 33px 16px;
                background: transparent;
                border: 2px solid $primary-color;
                font-size: 12px;	font-weight: bold;	letter-spacing: 2.8px;	line-height: 15px;
            }
        }
        .column:first-child {
            margin-left: 0;
        }
    }
    .commercials-section {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 960px;
        margin-top: 201px;
        .image-container {
            padding: 10px;
        }
        .commercials-left-side {
            width: 50%;
            display: flex;
            flex-direction: column;
            .commercials-left-top{
                display: flex;
                flex-direction: row;
                .work, .image-top {
                   width:50%;
                   height: 480px;
                }
                .work {
                    font-size: 70px;	
                    font-weight: bold;	
                    letter-spacing: -2.33px;	
                    line-height: 70px;
                    position: relative;
                    .work-container {
                        position: absolute;
                        left: 50px;
                        bottom: 129px;
                    }
                }
                .image-top {
                    position: relative;
                    img {
                        width: 100%;
                        height: 100%; 
                        z-index: 0;
                    }
                }
            }
        }
        .commercials-left-bottom {
            width: 100%;
            max-height: 480px;
           
            position: relative;
            .image-left-bottom {
                width: 100%;
                height: 480px;
            }
        }
        .commercials-left-top,.commercials-left-bottom, .commercials-right-side {
            position:relative;
            .left-side-image-text-background, .right-side-image-text-background, .left-side-image-text-background-bottom {
                height: 317px;	
                width: 342px;	
                background-color: rgba(255,255,255,0.9);
                z-index: 1;
                position: absolute;
                bottom: 10px;
                left: 0;
                .left-side-image-text-container, .right-side-image-text-container {
                    position: absolute;
                    left: 29px;
                    bottom: 90px;
                    .commercials-category {
                        margin-bottom: 9px;
                        font-size: 15px;	
                        font-weight: bold;	
                        letter-spacing: 3.5px;	
                        line-height: 19px;
                        text-transform: uppercase;
                    }
                    .commercials-title {
                        height: 114px;	
                        width: 179px;
                        font-size: 47px;	
                        font-weight: bold;	
                        letter-spacing: -2px;	
                        line-height: 57px;
                    }
                }
            }
            .left-side-image-text-background-bottom {
                bottom: -11px;
                .left-side-image-text-container-bottom {
                    position: absolute;
                    bottom: 118px;
                    left: 29px;
                    .commercials-category {
                        margin-bottom: 9px;
                        font-size: 15px;	
                        font-weight: bold;	
                        letter-spacing: 3.5px;	
                        line-height: 19px;
                        text-transform: uppercase;
                        
                    }
                    .commercials-title {
                        font-size: 47px;	
                        font-weight: bold;	
                        letter-spacing: -2px;	
                        line-height: 57px;
                    }
                }
            }
        }
        .commercials-right-side {
            width: 50%;
            position: relative;
            // height: 960px;
            .image-container  {
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    // height: 960px;
                }
            }
            .right-side-image-text-background {
                width: 783px;
                height: 317px;
                bottom: -11px;
                .right-side-image-text-container {
                    bottom: 83px;
                    .commercials-title {
                        width: 606px;
                    }
                } 
            }
        }
    }
    .four-columns {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 206px;
        .column {
            width: 255px;
            margin-left: 30px;
            text-align: center;
            .subtitles {
                margin-bottom: 42px;	
                font-size: 17px;	
                font-weight: bold;	
                line-height: 20px;
            }
            .post-container {
                display:flex;
                flex-direction: row;
                img {
                    width:120px;
                    height: 102px;
                    margin-bottom: 25.47px;
                }
                .post-data{
                    padding-left: 10px;
                    padding-right:10px;
                    text-align: left;
                    .post-data-title {	
                        width: 144px;	
                        font-size: 16px;	
                        line-height: 20px;
                    }
                    .post-date {
                        height: 19px;	
                        width: 89px;	
                        color: #AFAFAF;		
                        font-size: 16px;	
                        line-height: 19px;
                    }
                }    
            }
            .tags {
                height: 168px;	
                width: 255px;	
                color: #AFAFAF;	
                font-size: 16px;	
                line-height: 28px;
            }
        }
        .column:first-child {
            margin-left:0;
        }
        .instagram{
            .two-box-up {
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
            .two-box-up img:last-child {
                margin-left:1px;
            }
            .two-box-down {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-top: 1px;
            }
            .two-box-down img:last-child {
                margin-left:1px;
            }
        }
        .ad-banner {
            .banner-container{
                position: relative;
                width: 229px;
                height: 322px;
                .banner-background {
                    position: absolute;
                    left: 0;
                    top: 0;
                }
                .banner {
                    position: absolute;
                    width: 219px;
                    height: 312px;
                    top: 50%;
                    margin-top: -156px;
                    left: 50%;
                    transform: translate(-50%, 0);
                }
            }
        }
    }
    .footer {
        text-align: center;
        margin-top: 107px;
        margin-bottom: 109px;
        p {
           font-size: 14px;	
           line-height: 18px;
        }
    }
}


/* breakpoints 0-1025, 1025-1920, 1920-*/
@media only screen and (max-width: 1025px) {
    .frontpage-container {
        .first-screen {
            img { 
                width: 90%;
                height:100%;
            }
            width: 100%;
            height: 100vh;
            .main-message {
                font-size: 25px;
            }
        }
        .artist-section {
            flex-direction: column;
            .make-margin-left {
                margin-left: 0px;
            }
            .make-margin-right {
                margin-right: 0px;
            }
            .artist-image {
                width: 100%;
                height: 100%;
            }  
            .artist-text-container {
                display: flex;
                flex-direction: column;
                .title {
                    margin-bottom: 42px;
                    @include set-title-small-screens();
                }
                .text {
                    height: 187px;
                    width: 90%;	
                    @include set-text();
                }
                .social-icons {
                    padding-left: 2px;
                    margin-top: 145px;
                    margin-bottom: 30px;
                    display:flex;
                    align-items: center;
                    height: 35px;
                }
            }
        }
        .three-text-columns {
            flex-direction: column;
            margin-top: 150px; //check this
            text-align: center;
            .column {
                width: 90%;
                margin-left: 0;
                margin-bottom: 60px;
            }
            .column:first-child {
                margin-left: 0;
            }
        }

        .commercials-section {
            flex-direction: column;
            width: 100%;
            height: 960px;
            margin-top: 201px;
            .image-container {
                padding: 10px;
            }
            .commercials-left-side {
                width: 100%;
                flex-direction: column;
                .commercials-left-top{
                    flex-direction: column;
                    .work, .image-top {
                       width:100%;
                    }
                }
            }
            .commercials-left-bottom {
                width: 100%;
                .image-left-bottom {
                    width: 100%;
                }
            }
            .commercials-left-top,.commercials-left-bottom, .commercials-right-side {
                position:relative;
                .left-side-image-text-background, .right-side-image-text-background, .left-side-image-text-background-bottom {
                    bottom: 75px;
                    .left-side-image-text-container, .right-side-image-text-container {
                        position: absolute;
                        left: 29px;
                        bottom: 30px;
                        .commercials-category {
                            font-size: 25px;	
                            letter-spacing: 1.5px;	
                            line-height: 30px;                   
                        }
                        .commercials-title {
                            height: 114px;	
                            width: 179px;
                            font-size: 37px;	
                            line-height: 47px;
                        }
                    }
                }
                .left-side-image-text-background-bottom {
                    bottom: 0;
                    .left-side-image-text-container-bottom {
                        position: absolute;
                        bottom: 118px;
                        left: 29px;
                        .commercials-category {
                            margin-bottom: 9px;
                            font-size: 15px;	
                            font-weight: bold;	
                            letter-spacing: 3.5px;	
                            line-height: 19px;
                        }
                        .commercials-title {
                            font-size: 47px;		
                            line-height: 57px;
                        }
                    }
                }
            }
            .commercials-right-side {
                width: 100%;
                position: relative;
                margin-top: 20px;
                .image-container  {
                    height: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .right-side-image-text-background {
                    width: 100%;
                    height: 200px;
                    bottom: 0;
                    .right-side-image-text-container {
                        bottom: 30px;;
                        .commercials-category {
                            font-size:17px;
                        }
                        .commercials-title {
                            width: 100%;
                            font-size:37px;
                        }
                    } 
                }
            }
        }
        .four-columns  {
            flex-direction: column;
            margin-top: 939px;
            .subtitles {
                margin-top: 40px;
            }
            .post-container {
                flex-direction: column;
            }
            .instagram {  
                .two-box-up, .two-box-down {
                    flex-direction: column;
                    img {
                        margin-bottom: 2px;
                        height: 100vh;
                    }   
                }
            }
            .column {
                width: 100%;
                margin-left: 0px;
                text-align: center;
                .post-container {
                    flex-direction: column;
                    img {
                        width:100%;
                        height: 100%;
                    }
                    .post-data{
                        .post-data-title {	
                            width: 100%;	
                            font-size: 16px;	
                            line-height: 20px;
                        }
                    }
                }
                .tags {
                    height: 100%;	
                    width: 100%;	
                }
                .banner-container{
                    position: relative;
                    width: 229px;
                    margin:0 auto;
                    height: 322px;
                    .banner {
                        position: absolute;
                        width: 219px;
                        height: 312px;
                        top: 50%;
                        margin-top: -156px;
                        left: 50%;
                        transform: translate(-50%, 0);
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1900px) and ( min-width: 1025px ) {
    .frontpage-container {
        .first-screen {
            img { width: 1400px;}
            .main-message {
                font-size: 90px;
            }
        }
        .three-text-columns {
            .column {
                width: 300px;
                margin-left: 147px;
                .title {
                    font-size: 40px;
                }
            }
        }

        .commercials-right-side {
            width: 50%;
            position: relative;
            .image-container  {
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .right-side-image-text-background {
                width: 583px;
                height: 317px;
                bottom: -11px;
                .right-side-image-text-container {
                    bottom: 83px;
                    .commercials-title {
                        width: 406px;
                    }
                } 
            }
        }
        .four-columns {
            flex-direction: row;
            margin-top: 206px;
            .column {
                width: 255px;
                margin-left: 30px;
                text-align: center;
                .subtitles {
                    margin-bottom: 42px;	
                    font-size: 17px;	
                    font-weight: bold;	
                    line-height: 20px;
                }
                .post-container {
                    flex-direction: row;
                    img {
                        width:120px;
                        height: 102px;
                        margin-bottom: 25.47px;
                    }   
                }
                .tags {
                    height: 168px;	
                    width: 255px;	
                    font-size: 16px;	
                    line-height: 28px;
                }
            }
            .column:first-child {
                margin-left:0;
            }
            .instagram{
                .two-box-up {
                    flex-direction: row;
                }
                .two-box-down {
                    flex-direction: row;
                }
                .two-box-down img:last-child {
                    margin-left:1px;
                }
            }
        }
    }
}