.single-album-grid {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    .image-container {
        width: 20%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left:20px;
        margin-bottom: 50px;
        .image-title {
            margin-top: 10px;
        }
        .remove {
            color: red;
            cursor: pointer;
        }
    }
    .red-border {
        border: 5px solid red;
    }
}
.single-album-list {
    display:flex;
    flex-direction: column;
    width:100%;
    .list-item {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        // justify-content: center;
        padding-left: 50px;
        margin-bottom: 20px;
        h6 {
            padding-left: 20px;
        }
        .remove {
            color: red;
            cursor: pointer;
            padding-left: 50px;
        }
    }
}

/* breakpoints for different screen sizes */
@media only screen and ( max-width: 768px ) and ( min-width: 320px )  {
    .single-album-grid {
        .image-container {
            width: 80%;
            padding-left: 0;
        }
    }
}