<div *ngIf="this.actions.displayGrid" class="single-album-grid">
  <div id="{{image.id}}" class="image-container" *ngFor="let image of allImages | filter:this.actions.filteredItems:'title'; let i = index;">
    <img src="{{image.thumbnailUrl}}" alt="{{image.title}}" />
    <h6 class="image-title" >{{image.title}}</h6>
    <span class="remove" (click)="onRemove(delete )" #delete>Remove</span>  
  </div>
</div>
<div *ngIf="this.actions.displayList" class="single-album-list">
  <div id="{{image.id}}" class="image-container" *ngFor="let image of allImages | filter:this.actions.filteredItems:'title'; let i = index;">
    <div class="list-item">
        <img src="{{image.thumbnailUrl}}" alt="{{image.title}}" />
        <h6 class="image-title" >{{image.title}}</h6>
        <span class="remove" (click)="onRemove(delete )" #delete>Remove</span>
    </div>    
  </div>
</div>