/* You can add global styles to this file, and also import other style files */
@import "./app/styles/reset";


/* CHECK WHAT FONTS ARE NEEDED AND WHAT SHALL BE DELETED*/
@font-face {
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: normal;
    src: 
        local('Montserrat Regular'),
        local('Montserrat-Regular'), 
        url('/assets/fonts/Montserrat-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat-ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: 
        local('Montserrat-ExtraBold'),
        local('Montserrat-ExtraBold'), 
        url('/assets/fonts/Montserrat-ExtraBold.woff') format('woff');
}   

$primary-font-family: 'Montserrat regular';
$primary-color: #2F2F2F;
$secondary-color: #D54687;
$background: #F2F2F2;

/** set the main styles*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    font-family: $primary-font-family;
    color: $primary-color;
}

@mixin set-title() {
    font-family: "Montserrat-ExtraBold";
    height: 62px;
    font-size: 60px;
    font-weight: 900;
    letter-spacing: -2px;
    line-height: 62px;
    
}
@mixin set-title-small-screens() {
    font-family: "Montserrat-ExtraBold";
    height: 32px;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: -2px;
    line-height: 32px;  
}


@mixin set-text(){
    font-size: 16px;
    line-height: 32px;
}

/* on album and all-albums pages*/
.actions-on-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
    .back {
        margin-bottom: 30px;
    }
}