<div class="actions-on-images">
  <a *ngIf="!hideBackButton" class="back" routerLink="/albums" title="Go back"> Back </a>
  <app-filter></app-filter>
  <div class="grid" (click)="onDisplayGrid()">Display Grid</div>
  <div class="list" (click)="onDisplayList()">Display List</div>
</div>